/* app/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Montserrat:wght@400;600&display=swap");

:root {
  --font-body: "Montserrat", sans-serif;
  --font-heading: "Cormorant Garamond", serif;
}


